body {
  margin: 0;
  background-color: #EAE2CF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar CSS */
nav {
  background: transparent;
  position: absolute;
}

.navbar {
      /* position: relative; */
    /* display: flex; */
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: .5rem;
}

.navbar-link-container {
  text-align: center;
  justify-content: center;
}

.nav-link:hover {
  color: #013240;
}

/* Homepage CSS */
.imgContainer {
  background-image: url("./images/dexter-chatuluka-OyvZbtXJRlA-unsplash.jpg");
  background-position: center;
  padding: 300px 0px 350px 0px;
  margin: 30px 0px 0px 0px;
  display: flex;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.about-business {
  margin: 10rem 0 10rem 0;
  padding: 20px;

}

.mission-header {
  border-bottom: solid;
  color: #013240;
}

/* About Page */
.brianna-image-container {
  margin-top: 40px;
}

.about-text-hello {
  padding: 60px 0px 0px 0px
}
.about-text {
  padding: 0px 50px 0px 50px;
}

/* Service Page */
.p-title {
  font-weight: 700;
}
.service-modal-btn {
  background-color: #013240;
  border: none;

  box-shadow: #013240;
}

.service-modal-btn:hover {
  background-color: black;
  border: none;
}

.service-modal-btn:focus {
  background-color: black;
  border: none;
  outline: none;

  box-shadow: none;
}

.btn-primary:focus {
  background-color: black;
  border: none;

  box-shadow: #013240;
}

.btn-primary:active {
  background-color: #013240;
  border: none;
  box-shadow: #013240;

}

.service-type-section-demo2 {
  margin-top: 80px;
}

.service-type-section-demo3 {
  margin-top: 80px;
  align-items: left;
  text-align: left;
  padding-left: 40px;
}

.service-p-container-demo4 {
  padding: 70px 90px 70px 90px;
}

.demo-p4 {
  text-align: left;
}


/* media queries */

@media only screen and (max-width: 950px) {
  .imgContainer {
    background-image: url("./images/dexter-chatuluka-OyvZbtXJRlA-unsplash.jpg");
    background-position: center;
    padding: 200px 0px 250px 0px;
    margin: 30px 0px 0px 0px;
    display: flex;
    background-size: cover;
    max-width: 100%;
    height: auto;  
  }
}

@media only screen and (max-width: 800px) {
  .imgContainer {
    background-image: url("./images/dexter-chatuluka-OyvZbtXJRlA-unsplash.jpg");
    background-position: center;
    padding: 200px 0px 150px 0px;
    margin: 30px 0px 0px 0px;
    display: flex;
    background-size: cover;
    max-width: 100%;
    height: auto;  
  }
}

@media only screen and (max-width: 600px) {
  .imgContainer {
    background-image: url("./images/dexter-chatuluka-OyvZbtXJRlA-unsplash.jpg");
    background-position: center;
    padding: 200px 0px 60px 0px;
    margin: 30px 0px 0px 0px;
    display: flex;
    background-size: cover;
    max-width: 100%;
    height: auto;  
  }
}

@media only screen and (max-width: 400px) {
  .imgContainer {
    background-image: url("./images/dexter-chatuluka-OyvZbtXJRlA-unsplash.jpg");
    background-position: center;
    padding: 150px 0px 40px 0px;
    margin: 30px 0px 0px 0px;
    display: flex;
    background-size: cover;
    max-width: 100%;
    height: auto;  
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
