body {
  margin: 0;
  background-color: #EAE2CF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar CSS */
nav {
  position: absolute;
  background: c;
}

.react-parallax-bgimage {
  z-index: -1;
}

.homepage-logo {
  width: 65%;
  margin-top: 30%;
}

.homepage-statement-container {
  margin-top: 12%;
  margin-bottom: 3rem;
}

.homepage-statement {
  margin-bottom: 3rem;
}

.navbar {
  position: relative;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  font-size: 2rem;
  /* background-color: black; */
  opacity: .7;
  position: fixed;
  transition: 0.4s;
}

.logo-nav {
  /* filter: brightness(160%); */
  width: 12%;
  visibility: hidden;
  background-color: none;
}

.scrolling-active {
  background-color: #013240;
  /* background-color: black; */
  transition: 0.5s;
  visibility: visible;
}

.scrolling-active .nav-link {
  color: rgba(255,255,255,1);
}

.scrolling-logo-active {
  transition: 0.2s;
  visibility: visible;
}

.scrolling-active .hamburger-icon {
  color: white;
}

.navbar-nav {
  grid-column-gap: 6rem;
  padding-right: 0;
  font-size: 22px;
  margin: 5px 0px;
  padding-left: 0;
  letter-spacing: 5px;
  font-weight: 400;

}
.nav-link {
  color: black;
  padding: 0px;
}

.nav-link:hover {
  color: #013240;
  /* filter: brightness(160%); */

}

.navbar-link-container {
  text-align: center;
  justify-content: center;
}

/* Homepage CSS */

.topSection {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15%;
  z-index: 9999;
  height: 100vh;
}

.imgContainer {
  justify-content: center;
  align-items: center;
}

.homepageImage {
  background-position: center;
  display: flex;
  background-size: cover;
  width: 100%;
  height: 100vh;
  justify-content: center;
  height: auto;
  align-items: center;
}

.image-wrapper-home {
  align-items: center;
  justify-content: center;
}

.logo-image-wrapper {
  text-align: center;
  padding: 0px 0px 0px 0px;
}

.logo-image {
  width: 100%;
  /* filter: brightness(160%); */
}

.mission-header {
  border-bottom: solid;
  color: #013240;
}

/* About Page */

.container {
  width: 100%;
}

.img-container {
  width: 100%;
}

.brianna-image {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: -1;
}
.service-image {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: -1;
  /* filter: brightness(0.4); */
}
.contact-image {
  width: 100%;
  height: 115vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: -1;
  object-fit: scale-down;
}
.react-parallax-bgimage .contact-image {
  object-fit: scale-down;
}

.about-section-two {
  width: 100%;
}

.about-image-container {
  background-position: center;
  background-size: cover;
  width: 100%;
  position: fixed;
  background-color: #EAE2CF;
}

.about-section-two {
    /* color: white; */
}

.about-text-container {
  z-index: 100;
}

.brianna-name-title {
  padding: 30px 20px 30px 20px;
  text-align: center;
}

.qualification-container {
  padding-left: 20px;
}
.qualification {
  text-align: left;
}
.about-text-one {
  padding: 0px 20px 0px 20px;
  text-align: left;
}
.about-text-two {
  padding: 0px 20px 0px 20px;
  text-align: left;
}.about-text-three {
  padding: 0px 20px 0px 20px;
  text-align: left;
}.about-text-four {
  padding: 0px 20px 30px 20px;
  text-align: left;
  margin: 0px;
}

.family-image-container {
  width: 100%;
  text-align: center;
  margin-bottom: 23px;
}

.family-image {
  width: 50%;
}

/* Service Page */

  .card {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

.p-title {
  font-weight: 700;
}

.service-title {
  text-align: left;
  padding: 10px 0px 10px 122px;

}

.service-title-two {
  padding: 10px 0px 10px 269px;
}

.service-type-section {
  margin-top: 70px;
}

.serviceImg {
  position: absolute;
  background-position: center;
  margin: 30px 0px 0px 0px;
  background-size: cover;
  max-width: 100%;
  height: auto;
  height: 527px;
  z-index: 1;
  width: 100%;
}

.serviceImgLaborSupport {
  position: absolute;
  background-position: center;
  margin: 101px 0px 0px 155px;
  background-size: cover;
  max-width: 100%;
  height: auto;
  height: 527px;
  z-index: 1;  
}

.serviceImgPrenatal {
  position: absolute;
  background-position: center;
  margin: 101px 0px 0px 155px;
  background-size: cover;
  max-width: 100%;
  height: auto;
  height: 527px;
  z-index: 1;
}

.service-image-container {
  position: relative;
}

.service-text-container {
  text-align: center;
  margin: 6vh;

}


.menu {
  /* width: 600px; */
  overflow: hidden;
  margin: 5vh;
}

.item {
  /* border-top: 1px solid; */
  overflow: hidden;
  list-style: none;
}
.menu-link {
  display: block;
  padding: 16px 0px;
  color: black;
  position: relative;
  font-weight: 600;
  letter-spacing: 1.7px;
}
.menu-link:hover {
  display: block;
  padding: 16px 0px;
  color: #013240;
  text-decoration: none;
  position: relative;
}
.menu-link:before {
  content: "";
  position: absolute;
  transition: 0.4s;
}
.imenu {
  overflow: hidden;
  transition: max-height 0.4s;
  max-height: 0;
}
.imenu p{
  display: block;
  padding: 16px 26px;
  margin: 4px 0;
  position: relative;
}
.imenu p:before{
  content: "";
  position: absolute;
  width: 6px;
}
.item:target .imenu {
  max-height: 500px;

}

/* Contact page */
.icon-container{
  height: 35vh;
  justify-content: space-around;
  vertical-align: auto;
  margin: 10vh;
}
.icon-container span {
  font-size: 20px;
  /* position: absolute; */
}
.icon-container i {
  margin-right: 10px;
}
.contact-content-container {
  display: flex;
}
.contact-text-container {
  height: 35vh;
  margin: 10vh;
  /* margin: 20vh; */
}



/* media queries */

@media only screen and (max-width: 1080px) {
  .brianna-image {
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    z-index: -1;
  }
  .service-image {
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    z-index: -1;
    /* filter: brightness(0.4); */
  }
  .contact-image {
    width: 100%;
    height: 95vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    z-index: -1;
    object-fit: scale-down;
  }
  .react-parallax-bgimage .contact-image {
    object-fit: scale-down;
  }
}

@media only screen and (max-width: 750px) {
  .contact-image {
    width: 100%;
    height: 73vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    z-index: -1;
    object-fit: scale-down;
  }
  .react-parallax-bgimage .contact-image {
    object-fit: scale-down;
  }
  .contact-content-container {
    display: block;
  }
  .icon-container {
    margin: 5vh 5vh 5vh 5vh;
    height: 38vh;

  }
  .contact-text-container {
    margin: 5vh 5vh 5vh 5vh;
    height: 38vh;

  }
}

@media only screen and (max-width: 600px) {
  .brianna-image {
    width: 100%;
    height: 62vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    z-index: -1;
  }
  .service-image {
    width: 100%;
    height: 62vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    z-index: -1;
    /* filter: brightness(0.4); */
  }
  .contact-image {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    z-index: -1;
    object-fit: scale-down;
  }
  .react-parallax-bgimage .contact-image {
    object-fit: scale-down;
  }
  .homepage-logo {
    width: 95%;
    margin-top: 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
