body {
  margin: 0;
  background-color: #EAE2CF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar CSS */

.react-parallax-bgimage {
  height: 100vh;
}
.react-parallax-bgimage:before {
  content: "";
  background: black;
}

.homepage-logo {
  width: 52%;
  margin-top: 22%;
}

.homepage-statement-container {
  margin-top: 30%;
  padding: 30px;
  text-align: center;
}

.navbar {
  position: relative;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  font-size: 2rem;
  position: fixed;
  transition: 0.4s;
  background-color: #013240;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.logo-nav {
  width: 10%;
}

.nav-link {
  color: white;
}

.scrolling-active {
  background-color: #013240;
  transition: 0.5s;
  visibility: visible;
}

.scrolling-active .nav-link {
  color: rgba(255,255,255,1);
}

.hamburger-icon {
  color: white;

}

.scrolling-active .hamburger-icon {
  color: white;
}

.navbar-nav {
  grid-column-gap: 6rem;
  padding-right: 0;
  font-size: 22px;
  margin: 5px 0px;
  padding-left: 0;
  letter-spacing: 5px;
  font-weight: 400;

}
.nav-link {
  color: rgba(255,255,255,1);
  padding: 0px;
}

.nav-link:hover {
  color: #013240;

}

.navbar-link-container {
  text-align: center;
  justify-content: center;
}

.footer {
  position: sticky;
  background: rgba(255,255,255,1);
  height: 13vh;
  padding: 12px;
  color: white;
  box-shadow: 0 8px 6px -6px black;
}

.react-parallax-content {
  position: relative;
  text-align: center;
  font-size: 60px;
  margin-top: 75vh;
  color: white;
}

/* Homepage CSS */

.section-one {
  height: 100vh;
}
.section-two {
  height: 50vh;
}

.imgContainer {
  justify-content: center;
  align-items: center;
}

.homepageImage {
  background-position: center;
  display: flex;
  background-size: cover;
  width: 100%;
  height: 100vh;
  justify-content: center;
  height: auto;
  align-items: center;
}

.image-wrapper-home {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-image-wrapper {
  text-align: center;
  padding: 0px 0px 0px 0px;
}

.logo-image {
  width: 100%;
}

.mission-header {
  border-bottom: solid;
  color: #013240;
}

/* About Page */

.container {
  width: 100%;
}

.img-container {
  width: 100%;
}

.brianna-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: -1;
  opacity: .9;
}
.service-image {
  height: 100vh;
  z-index: -1;
}
.contact-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: -1;
  object-fit: scale-down;
  opacity: .9;
}
.react-parallax-bgimage .contact-image {
  object-fit: scale-down;
  height: 100vh;
}

.about-section-two {
  width: 100%;
}

.about-image-container {
  background-position: center;
  background-size: cover;
  width: 100%;
  position: fixed;
  background-color: #EAE2CF;
}

.about-text-container {
  z-index: 100;
}

.brianna-name-title {
  padding: 30px 20px 30px 20px;
  text-align: center;
}

.qualification-container {
  padding-left: 20px;
  margin: 20px 0px;
}
.qualification {
  text-align: left;
}
.about-text-one {
  padding: 0px 20px 0px 20px;
  text-align: left;
}
.about-text-two {
  padding: 0px 20px 0px 20px;
  text-align: left;
}.about-text-three {
  padding: 0px 20px 0px 20px;
  text-align: left;
}.about-text-four {
  padding: 0px 20px 30px 20px;
  text-align: left;
  margin: 0px;
}

.family-image-container {
  width: 100%;
  text-align: center;
  margin-bottom: 23px;
}

.family-image {
  width: 50%;
}

/* Service Page */

  .card {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

.p-title {
  font-weight: 700;
}

.service-title {
  text-align: left;
  padding: 10px 0px 10px 122px;

}

.service-title-two {
  padding: 10px 0px 10px 269px;
}

.service-type-section {
  margin-top: 70px;
}

.serviceImg {
  position: absolute;
  background-position: center;
  margin: 30px 0px 0px 0px;
  background-size: cover;
  max-width: 100%;
  height: auto;
  height: 527px;
  z-index: 1;
  width: 100%;
}

.serviceImgLaborSupport {
  position: absolute;
  background-position: center;
  margin: 101px 0px 0px 155px;
  background-size: cover;
  max-width: 100%;
  height: auto;
  height: 527px;
  z-index: 1;  
}

.serviceImgPrenatal {
  position: absolute;
  background-position: center;
  margin: 101px 0px 0px 155px;
  background-size: cover;
  max-width: 100%;
  height: auto;
  height: 527px;
  z-index: 1;
}

.service-image-container {
  position: relative;
}

.service-text-container {
  text-align: center;
  margin: 6vh;

}


.menu {
  /* width: 600px; */
  overflow: hidden;
  margin: 5vh;
}

.item {
  /* border-top: 1px solid; */
  overflow: hidden;
  list-style: none;
}
.menu-link {
  display: block;
  padding: 16px 0px;
  color: black;
  position: relative;
  font-weight: 600;
  letter-spacing: 1.7px;
}
.menu-link:hover {
  display: block;
  padding: 16px 0px;
  color: #013240;
  text-decoration: none;
  position: relative;
}
.menu-link:before {
  content: "";
  position: absolute;
  transition: 0.4s;
}
.imenu {
  overflow: hidden;
  transition: max-height 0.4s;
  max-height: 0;
}
.imenu p{
  display: block;
  padding: 16px 26px;
  margin: 4px 0;
  position: relative;
}
.imenu p:before{
  content: "";
  position: absolute;
  width: 6px;
}
.item:target .imenu {
  max-height: 500px;

}

/* Contact page */
.icon-container{
  height: 35vh;
  justify-content: space-around;
  vertical-align: auto;
  margin: 10vh;
  color: black;
  min-width: 280px;
  vertical-align: text-bottom;
  text-decoration: none;
  /* text-align: right; */
  transition: 0.4s;
}
.icon-container span {
  font-size: 20px;
  color: black;
  transition: 0.4s;
  text-decoration: none;
}
.icon-container span:hover {
  font-size: 20px;
  color: white;
  transition: 0.4s;
  text-decoration: none;
}
.icon-container i {
  margin-right: 10px;
  color: black;
  transition: 0.4s;
}
.icon-container i:hover {
  margin-right: 10px;
  color: white;
  transition: 0.4s;
}
.icon-container a:hover {
  margin-right: 10px;
  color: white;
  transition: 0.4s;
  text-decoration: none;
}
.contact-content-container {
  display: flex;
}
.contact-text-container {
  height: 35vh;
  margin: 10vh;
}

.footer-left {
  color: black;
  float: left;
  margin-top: 6px;
  text-align: center;
}
.icon-container-footer i:hover {
  color: #013240;
}

.icon-container-footer {
  display: flex;
  color: black;
  text-align: center;
  justify-content: center;
  text-align: center;
}
.icon-container-footer i {
  margin-right: 10px;
  color: black;
  transition: 0.4s;
}



/* media queries */

@media only screen and (max-width: 750px) {
  .contact-content-container {
    display: block;
  }
  .icon-container {
    margin: 5vh 5vh 2vh 5vh;
    height: 45vh;

  }
  .contact-text-container {
    margin: 10vh 5vh;
    height: 22vh;
  }
}

@media only screen and (max-width: 600px) {

  .homepage-logo {
    margin-top: 70%;
  }
  .section-two {
    height: 100vh;
  }
  .homepage-statement {
    margin-top: -40px;
  }
  .logo-nav {
    width: 15%;
    background-color: none;
  }
  .footer {
    position: sticky;
    background: rgba(255,255,255,1);
    height: 18vh;
    padding: 12px;
    color: white;
  }

  .topSection {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15%;
    z-index: 9999;
    height: 140vh;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
